<div class="nav">
    <% if (user) { %>
        <div class="welcome">
            <p class="lato-bold">Welcome back, <%= user.name %>!</p>
        </div>
        <div class="links">
            <a class="lato-bold" href="/add-folder">Add Folder</a>
            <a class="lato-bold" href="/logout">Log out</a>
        </div>

        <% } else { %>
            <div class="links">
                <a class="lato-bold" href="/sign-up">Sign up</a>
                <a class="lato-bold" href="/login">Log in</a>
            </div>
            <% } %>
</div>