<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Folder</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="form-container">
        <form action="/content/add-folder" method="post">
            <h1>Add Folder</h1>
            <fieldset>
                <label for="newFolder">Folder Name: </label>
                <input type="text" name="newFolder" id="newFolder">
            </fieldset>
            <div class="btns">
                <button><a href="/">Go Home</a></button>
                <button>Submit</button>
            </div>
        </form>
    </div>
</body>

</html>