<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= file.name %>
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="file-details-container">
        <h1>
            <%= file.name %>
        </h1>
        <div class="details">
            <p>Uploaded At: <%= date %>
            </p>
            <p>Size: <%= file.size %> B
            </p>
        </div>
    </div>

</body>

</html>