<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="login-container">
        <div class="form-container">
            <h1>Login</h1>
            <form action="/login" method="post" id="login-form">
                <fieldset>
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username">
                </fieldset>
                <fieldset>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password">
                </fieldset>
                <div class="btns">
                    <button>Log In</button>
                    <button><a href="/sign-up">Sign Up</a></button>
                </div>

            </form>
        </div>
    </div>

</body>

</html>