:root {
    font-family: "Lato", sans-serif, Verdana, Geneva, Tahoma;
    min-width: 150px;
}

.index-container {
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2.5%;
}

.about>.project-name>h1 {
    text-align: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 32.5%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 2.5%;
}

.links {
    display: flex;
    align-items: center;
    gap: 15%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
button:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

button:hover,
::file-selector-button:hover {
    background-color: rgb(112, 173, 150);
}

button {
    font-family: inherit;
    cursor: pointer;
}

.welcome>p,
.links>a {
    font-size: 1.25em;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
}

.folder {
    display: flex;
    flex-direction: column;
    gap: 1.5%;
    align-items: center;
}

.title-text {
    font-size: 1.65em;
    font-weight: 300;
    padding-bottom: 2.5%;
}

.folder-options {
    display: flex;
    gap: 5%;
}

button,
::file-selector-button {
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border: 0px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: purple;
    color: white;
    font-weight: 400;
    height: 26px;
}

input {
    font-family: inherit;
}

fieldset {
    border-style: none;
    display: flex;
    gap: 1.5%;
    align-items: center;
    padding-bottom: 1.5%;
}

form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

#view-title {
    font-size: 1.2em;
    font-weight: 300;
}

.options,
.btns {
    display: flex;
    gap: 1%;
    justify-content: center;
}

input[type="text"] {
    font-size: 14px;
}

label[for="editFolder"],
label[for="newFile"] {
    font-size: 1.1em;
    width: 150px;
}

label[for="newFile"] {
    width: 215px;
}

.login-container,
.sign-up-container {
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-align: center;
}

.form-container,
.file-details-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#login-form>fieldset,
#sign-up-form>fieldset {
    gap: 1%;
    display: grid;
    grid-template-columns: 100px 250px;
    padding-bottom: 7.5%;
}

.sign-up-container>h1 {
    padding-bottom: 1.5%;
}

.file {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 10%;
}

.files {
    padding: 5%;
}

.options>form {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#view-title.title-text {
    width: 300px;
}

#file-upload-form>.btns {
    padding: 2.5%;
}

@media (min-width: 600px) and (max-width: 1199px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 599px) {
    .content {
        grid-template-columns: 1fr;
    }
}