:root {
    font-family: "Lato", sans-serif, Verdana, Geneva, Tahoma;
}

body {
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2.5%;
}

.about>.project-name>h1 {
    text-align: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 32.5%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 2.5%;
}

.links {
    display: flex;
    align-items: center;
    gap: 15%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

a::after {
    transform: scale(.8);
    transition: transform 0.3s ease-in-out;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.welcome>p,
.links>a {
    font-size: 1.25em;
}